body {
    background-color: black;
}

.logo {
    vertical-align: middle;
}

nav > ul > li {
    display: inline-flex;
    margin-right: 20px;
    font-size: 24px;
}

a {
    color: white;
}

main {
    width: 800px;
    text-align: justify;
}

article {
    text-align: center;
    color: white;
}

p {
    color: white;
    text-align: left;
}

h2 {
    font-size: 30px;
    text-align: center;
}

